ion-content{
    --background: #FB4866 !important;
}

label{
    color: white;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
}

input{
    color: white;
    text-align: center;
    background: transparent;
    border: 2px solid white;
    border-radius: 30px;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    border-bottom: 2px solid white !important;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

h1{
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}

.thebutton{
    padding: 5px;
}

.thebutton i {
    background: transparent;
    color: white;
}

textarea:focus, input:focus{
    outline: none;
    border-bottom: none;
}